.paddin--2remv{
    padding: 2rem 0;
}

.centrar--texto{
    text-align: center;
}

#elegirnos__flex{
    margin-top: 2rem;
}

.elegirnos--art{
    width: 350px;
}

.elegir__icon{
    border: 0.2rem solid white;
    border-radius: 50%;
    font-size: 3.5rem;
    height: 100px;
    padding: 1.2rem;
    width: 100px;
    transition: 0.2s ease;
}

.elegir__icon:hover{
    background-color: rgba(241, 116, 12, 0.9);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.elegirsep{
    padding-top: 1.5rem;
    padding-bottom: 0.3rem;
}